div#post {
  padding: 0 25px;
  min-width: 50%;
  max-width: 800px;
  margin: 0 auto;
  font-family: helvetica;
}

div#post img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

div#post p.post-body {
  font-size: 1.2rem;
  line-height: 1.3;
}

div#post p.post-author {
  width: 92%;
  margin: 15px auto;
  color: grey;
}
