div#resume {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  height: 100%;
  padding-top: 100px;
  background: linear-gradient(270deg, #06d49f, #ce53f6);
  background-size: 400% 400%;
  -webkit-animation: bgGradient 30s ease infinite;
  -moz-animation: bgGradient 30s ease infinite;
  animation: bgGradient 30s ease infinite;
}

canvas.react-pdf__Page__canvas {
  margin: 0 auto;
  border-radius: 10px;
  width: 70% !important;
  max-width: 600px;
  height: auto !important;
  box-shadow: 5px 5px 20px #222222;
}

canvas.react-pdf__Page__canvas:hover,
.react-pdf__Page__textContent:hover,
.react-pdf__Page__textContent *:hover,
canvas.react-pdf__Page__canvas *:hover {
  cursor: url('floppy.png') 0 0, pointer !important;
}

div.resumeNav {
  text-align: center;
  box-shadow: 2px 10px 10px lightgray;
  border-radius: 20px;
  font-family: helvetica;
  width: 250px;
  margin: 0 auto;
  margin-top: -150px;
  z-index: 99999999;
}

div.resumeNav button {
  padding: 10px;
  width: 100px;
  border: 0;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

div.download {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90% !important;
  max-width: 600px;
  margin-top: 25px;
}

div.react-pdf__Page__annotations.annotationLayer {
  display: none;
}

p#closeit {
  color: white !important;
  position: absolute;
  top: 30px;
  left: 40px !important;
}

@-webkit-keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes createBox {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  85% {
    transform: scale 1.05;
  }
  100% {
    transform: scale(1);
  }
}
