footer#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 25px 0;
}

footer#footer .icons {
  margin-right: 25px;
}

footer#footer .icons a {
  margin-right: 25px;
}
